/*madStyles.css*/
/*Author:Alexander Corley*/
/*General Styles*/
body {
  background-color:#cc9999;
}
div {
  float:left;
}
.header {
  text-align:center;
  width:100%;
}
.header > a > img {
  width:20%;
}
#nav {
  width:25%;
  min-width:100px;
  max-width:250px;
  background-color:#dddddd;
  min-height:500px;
  margin-left:0px;
  border-style:outset;
}
.mainColumn {
  width:59%;
  min-height:500px;
  margin:10px;
}
.footer {
  height:50px;
  margin:20px;
  text-align:center;
  width:100%;
}

/*Mad Lib Styles*/
.altColumn {
  width:33%;
  min-height:500px;
  margin:10px;
  border-style:ridge;
  background-color:#cccccc;
  text-align:center;
}
#getWords {
  text-align:right;
}
.wordOutputs {
  font-weight:bold;
}
input.wordInputs {
  margin:10px;
  margin-bottom:3px;
  border-style:solid;
  border-color:black;
  height:20px;
  width:38%;
}
button.submitButton {
  width:94%;
  height:50px;
  border-style:solid;
  border-color:black;
  background-color:lightgray;
  margin:3%;
}
